# Ignore environment variable files
.env

# Ignore node_modules directory (common for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.o

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore temporary storage files
descriptions_copy.txt
encoder.py
decoder.py
descriptions_copy2.txt
encoded_descriptions.txt.b64
decoded_file.txt